<ion-view view-title="Discover" class="discover-page">
  <ion-content scroll="false">


    <div class="list card current-song"
         ng-class="{skipped: dctrl.currentSong.rated == false, favorited: dctrl.currentSong.rated == true}"
         ng-show="dctrl.currentSong && !dctrl.currentSong.hide">

      <div class="item item-image">
        <img ng-src="{{dctrl.currentSong.image_large}}">
      </div>

      <div class="img-lookahead">
        <img ng-src="{{dctrl.nextAlbumImg()}}">
      </div>

      <div class="item">
        <h2>
          {{dctrl.currentSong.title}}
          <span ng-hide="dctrl.currentSong.loaded">
            <i class="ion-loading-c"></i>
          </span>
        </h2>
        <p>{{dctrl.currentSong.artist}}</p>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" ng-click="dctrl.sendFeedback(false)">
          <i class="icon ion-close"></i>
          Skip
        </a>
        <a class="tab-item" ng-click="dctrl.sendFeedback(true)">
          <i class="icon ion-heart"></i>
          Favorite
        </a>

      </div>

    </div>


  </ion-content>
</ion-view>
